.container-cadastro-turma {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-cadastro-turma {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 35px;
}

.card-cadastro-titulo-turma {
    color: var(--cor-primaria);
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.card-cadastro-turma-colunas {
    display: flex;
    gap: 20px;
}

.colunas-coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.card-cadastro-turma-input {
    width: 100%;
}

.card-cadastro-turma-input-selector {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.card-cadastro-turma-button {
    color: var(--cor-primaria);
    width: 50%;
}