.container-cadastrese {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}

.card-cadastrese {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 24px;
    gap: 12px;
}

.container-card {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-flow: wrap;
}

.card-login {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 24px;
    gap: 12px;
    width: 100%;
}

.titulo-paginainicial {
    color: var(--cor-primaria);
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 3;
}